<div class="card-body">
    <h5 class="card-title">Lista de Registros</h5>
    <form [formGroup]="form" (ngSubmit)="procesarPersonas()" novalidate>

        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Procesado</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let persona of personas; let i = index">
                    <th scope="row"><input type="checkbox" [value]="persona.id" (change)="onChangePersonas($event)" disabled="{{ (persona.procesado == true)?'disabled':'' }}" /></th>
                    <td>{{ persona.nombre }}</td>
                    <td>{{ persona.apellido }}</td>
                    <td><span class="badge bg-{{ (persona.procesado == true)?'success':'secondary' }} text-light">{{ (persona.procesado == true)?"Procesado":"No procesado" }}</span></td>
                </tr>
            </tbody>
        </table>
        
        <div class="col-auto right">
            <button type="submit" class="btn btn-primary">Procesar</button>
        </div>
    </form>
</div>

