<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Tulio Estrella</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/registro" routerLinkActive="active">Registro</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" routerLink="/lista" routerLinkActive="active">Lista</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="card card_principal">
        <router-outlet></router-outlet>
    </div>
</div>