/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.card_principal{
    width: 80%;
    margin: 0 auto;
    float: none;
    margin-top: 30px;
}

.right{
    text-align: right;
}