<div class="card-body">
    <h5 class="card-title">Registro</h5>
    <div class="input-group mb-3">
        <span class="input-group-text">Nombre</span>
        <input type="text" class="form-control" name="nombre" ngDefaultControl [(ngModel)]="nombre" id="nombre" required>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Apellido</span>
        <input type="text" class="form-control" name="apellido" ngDefaultControl [(ngModel)]="apellido" id="apellido" required>
    </div>
    <div class="col-auto right">
        <button type="submit" class="btn btn-success" (click)="guardarRegistro()">Guardar</button>
    </div>
</div>
<div *ngIf="registro" class="alert alert-{{ tipoResultado }}" role="alert">
    {{ mensaje }}
  </div>
